apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        fsGroup: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: data-pvc
          persistentVolumeClaim:
            claimName: pvc-{{ .Release.Name }}-data
      containers:
        - name: n8n
          image: n8nio/n8n:{{ .Chart.AppVersion }}
          env:
          - name: DB_TYPE
            value: postgresdb
          - name: DB_POSTGRESDB_HOST
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.name }}-app
                key: host
          - name: DB_POSTGRESDB_PORT
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.name }}-app
                key: port
          - name: DB_POSTGRESDB_DATABASE
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.name }}-app
                key: dbname
          - name: DB_POSTGRESDB_USER
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.name }}-app
                key: username
          - name: DB_POSTGRESDB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.name }}-app
                key: password
          - name: GENERIC_TIMEZONE
            value: Europe/Prague
          - name: N8N_HOST
            value: 0.0.0.0
          - name: N8N_PORT
            value: "5678"
          - name: N8N_PROTOCOL
            value: "http"
          - name: N8N_RUNNERS_ENABLED
            value: "true"
          - name: N8N_BLOCK_ENV_ACCESS_IN_NODE
            value: "false"
          - name: N8N_SECURE_COOKIE
            value: "false"
          - name: N8N_GIT_NODE_DISABLE_BARE_REPOS
            value: "true"
          - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
            value: "false"
          - name: N8N_DIAGNOSTICS_ENABLED
            value: "false"
          - name: N8N_HIRING_BANNER_ENABLED
            value: "false"
          - name: N8N_LOG_LEVEL
            value: "info"
          securityContext:
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 2
              memory: 4Gi
          startupProbe:
            failureThreshold: 10
            httpGet:
              path: /health
              port: 5678
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 10
          volumeMounts:
            - mountPath: /home/node
              name: data-pvc
